@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="row" style="font-size:11px;">

    <div style="width: 46%;  margin-bottom:20px; ">

        <form method="post">
            <table style="width: 100%; ">
                <tr>
                    <td><lable>Servers:</lable></td>
                    <td><input type="text" asp-for="PublishConfig.BootstrapServers" placeholder="Server1:port,Server2:port" /></td>
                </tr>
                <tr>
                    <td><lable>Group Id: </lable></td>
                    <td><input type="text" asp-for="PublishConfig.ClientId" placeholder="Client Id" /></td>
                </tr>
                <tr>
                    <td><lable>Topic: </lable></td>
                    <td><input type="text" asp-for="PublishConfig.Topic" placeholder="Topic" /></td>
                </tr>
            </table>

            <div style="margin-top:30px;">
                <h6>Publish</h6></br>

                <label>Payload:</label>
                <textarea type="text" asp-for="PublishConfig.Payload" style="width:100%; min-height:296px;" placeholder="{ }"></textarea>
                <button type="submit" style="margin:20px 0px 0px 0px;" asp-page-handler="Publish">Publish</button>
                <b style="margin-left:20px; color:yellowgreen">@ViewData["Success Result"]</b>
                <b style="margin-left:20px;color:red">@ViewData["Fail Result"]@ViewData["Publish Result"]</b>

            </div>
        </form>
    </div>

    <div style="width: 4%;">
    </div>
    <div style="width: 4%; border-left:solid 1px; border-left-color:darkgray;">
    </div>

    <div style="width: 46%; margin-bottom: 20px;">

        <form method="post">
            <table style="width: 100%; " id="FormTable2">
                <tr>
                    <td><lable>Servers:</lable></td>
                    <td><input type="text" asp-for="ConsumeConfig.BootstrapServers" placeholder="Server1:port,Server2:port" /></td>
                </tr>
                <tr>
                    <td><lable>Group Id: </lable></td>
                    <td><input type="text" asp-for="ConsumeConfig.GroupId" placeholder="Group Id" /></td>
                </tr>
                <tr>
                    <td><lable>Topic: </lable></td>
                    <td><input type="text" asp-for="ConsumeConfig.Topic" placeholder="Topic" /></td>
                </tr>
                <tr>
                    <td><lable>AutoCommit</lable></td>
                    <td><input type="checkbox" asp-for="ConsumeConfig.EnableAutoCommit" /></td>
                </tr>
                <tr>
                    <td><lable>AutoOffsetStore</lable></td>
                    <td><input type="checkbox" asp-for="ConsumeConfig.EnableAutoOffsetStore" /></td>
                </tr>
                <tr>
                    <td><lable style="margin:10px 0px 0px 0px;">AutoOffsetReset</lable></td>
                    <td>
                        <select id="OffsetType" asp-for="ConsumeConfig.AutoOffsetReset" name="OffsetType">

                            <option selected="selected" value="0">Latest</option>

                            <option value="1">Earliest</option>

                            <option value="2">None</option>

                        </select>
                    </td>


                </tr>
            </table>
           

            <div style="margin-top:30px;">
                <h6>Consume</h6></br>

                <label>Message:</label>
                <textarea type="text" style="width:100%; min-height:227px;">@ViewData["Messages"]</textarea>
                <button type="submit" style="margin:20px 0px 0px 0px;" asp-page-handler="Consume">Consume</button>
                <input type="number" asp-for="ConsumeConfig.Loop" placeholder="1" style="width:60px;" />
                <b style="margin-left:20px;color:red">@ViewData["Consume Result"]</b>

            </div>
        </form>

        

    </div>
</div>
